APP_NAME="kobopoint"
APP_ENV=local
APP_KEY=base64:43Fu+MUhxsaJkjBPUMi+gVAe3sp9QGZdqZUaqaN49qU=
APP_DEBUG=true
APP_URL=http://localhost:8000
ERROR_404=${APP_URL}
ERROR_500=${APP_URL}/500

ADEX_APP_KEY=http://localhost:3000,http://127.0.0.1:3000,http://localhost:8080,http://127.0.0.1:8080,http://localhost:8000,http://app.kobopoint.com,https://app.kobopoint.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

ADEX_DEVICE_KEY=bnjhjjhehhejwuweueiuiucsnmdnmjkjkeweweiuuicshdjhwuyewuyhjsdjkioweoijksd3bdkfkfkfkfkfkfls55555hgfxcvbvcxzdfghrrsdf

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=abokisub
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FIRE_BASE_KEY=AAAArAKpA2U:APA91bE30qCPKoGMPTEZgeguVF80A6ycywtCH8_HZxWOnu2YgpST_N4BXwHj8_pXyLjl1kuyzJUZRejix-PtQzRdIW_0YC0ghSe-tYMgfLrFUUVr78y9zDrrWAjG0k7b8NIYnjS26CPs

BELLBANK_BASE_URL=https://baas-api.bellmfb.com
BELLBANK_CONSUMER_KEY=65aa50525d426485dc4b161691f25a83
BELLBANK_CONSUMER_SECRET=live_4ca5768c06643f83b1d0767661ad434155f15a3e64f5959b49b5774e56ec05a4
BELLBANK_TOKEN_VALIDITY_MINUTES=60
BELLBANK_WEBHOOK_SECRET=whsec_5fb1c7e2f0a94d38be2176c3b8d2a1f4e6c9d0b1a2c3d4e5f6a7b8c9d0e1f2a3

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=abokisub.com
MAIL_PORT=465
MAIL_USERNAME=support@abokisub.com
MAIL_PASSWORD=@Habukhan14135444@
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=support@abokisub.com
MAIL_FROM_NAME="${APP_NAME}"

# Bellbank director info
BELLBANK_DIRECTOR_BVN=22490148602
BELLBANK_DIRECTOR_FIRSTNAME=Abubakar
BELLBANK_DIRECTOR_MIDDLENAME=Jamilu
BELLBANK_DIRECTOR_LASTNAME=Bashir
# Stored in YYYY/MM/DD
BELLBANK_DIRECTOR_DOB=1999/04/14
BELLBANK_DIRECTOR_PHONE=07040540018
BELLBANK_DIRECTOR_EMAIL=ajamilubashir@gmail.com

BELL_RESOLVE_ACCOUNT_ENDPOINT=/v1/transfer/name-enquiry
BELL_NAME_ENQUIRY_FALLBACK=true
